 .background {
 	-fx-background-color: #222222;
 }

.button {
    -fx-border-color: #222222;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #222222;
    -fx-font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #333333;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #333333;
}


.button:disabled, .button:default:disabled {
    -fx-background-color: #333333;
    -fx-text-fill: black;
}

#text {
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, blue 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
    -fx-text-align: center;
}